<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <!-- Additional links if needed -->
</head>
<body>
  <div class="wrapper-masthead">
    <div class="container">
      <!-- Header Section -->
      <header class="masthead">
        <!-- Title and description -->
        <div class="site-title">
          <!-- Remove the h1 element that contains the title -->
          <!-- <h1>Datawhale Shatters the Records! - FREE Enrollment and Prestigious Awards.</h1> -->
          <p>{{ site.description }}</p>
        </div>
        <!-- Avatar/Image -->
        <div class="avatar-container">
          <img src="{{ site.baseurl }}/images/darwin.jpg" class="site-avatar" alt="Avatar">
        </div>
      </header>
    </div>
  </div>

  <!-- Main Content Section -->
  <div id="main" role="main" class="container">
    <!-- Main content -->
    {{ content }}
  </div>

  <!-- Footer Section -->
  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        <p>{{ site.footer.content }}</p>
        <!-- Social icons if enabled -->
        {% if site.footer.has_social %}
          <!-- Include your social media icons or links here -->
        {% endif %}
      </footer>
    </div>
  </div>

  <!-- Include analytics script -->
  {% include analytics.html %}
</body>
</html>
